@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 248 250 252;
  --foreground: 15 23 42;
}

body {
  color: rgb(var(--foreground));
  background: rgb(var(--background));
  font-family: var(--font-geist-sans), Arial, Helvetica, sans-serif;
}
